services:
    Sidus\EAVModelBundle\Profiler\ModelConfigurationDataCollector:
        arguments:
            - '@Sidus\EAVModelBundle\Registry\FamilyRegistry'
            - '@Sidus\EAVModelBundle\Registry\AttributeTypeRegistry'
        tags:
            - { name: data_collector, id: sidus_eav_model, template: "@SidusEAVModel/Profiler/sidus_eav_model.html.twig" }

    Sidus\EAVModelBundle\Profiler\DataLoaderCollector:
        tags:
            - { name: data_collector, id: sidus_data_loader, template: "@SidusEAVModel/Profiler/sidus_data_collector.html.twig" }

    # Overrides base DataLoader services
    Sidus\EAVModelBundle\Doctrine\OptimizedDataLoader:
        class: Sidus\EAVModelBundle\Doctrine\Debug\DebugDataLoader
        arguments:
            - '@Sidus\BaseBundle\Doctrine\RepositoryFinder'
