services:
    sidus_eav_model.request.data.param_converter:
        class: Sidus\EAVModelBundle\Request\ParamConverter\DataParamConverter
        public: false
        arguments:
            - '%sidus_eav_model.entity.data.class%'
            - '@doctrine'
        tags:
            - { name: request.param_converter }

    sidus_eav_model.request.family.param_converter:
        class: Sidus\EAVModelBundle\Request\ParamConverter\FamilyParamConverter
        public: false
        arguments: ['@sidus_eav_model.family.registry']
        tags:
            - { name: request.param_converter }

    sidus_eav_model.request.attribute.param_converter:
        class: Sidus\EAVModelBundle\Request\ParamConverter\AttributeParamConverter
        public: false
        arguments: ['@sidus_eav_model.attribute.registry']
        tags:
            - { name: request.param_converter }
